/* Add color palette variables */ 
:root {
  --bodybgc: #f1ecdf;
  --hourbgc:#332b16;
  --hourborderbgc: #221c0e;
  --icons: #c1a805;
  --pastbgc:#efe3da;
  --presentbgc:#beaa64;
  --futurebgc:#8c5435;

}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  background-color: var(--bodybgc);
}

textarea {
  background: transparent;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 5px solid var(--bodybgc);
}

.hour {
  background-color: var(--hourbgc);
  
  color: white;
  border: 5px solid var(--hourborderbgc);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px;
  
  
}

.past {
  background-color: var(--pastbgc);
  color: white;
}

.present {
  background-color: var(--presentbgc);
  color: white;
}

.future {
  background-color: var(--futurebgc);
  color: white;
}

.saveBtn {
  border-top: 5px solid var(--hourborderbgc);
  border-bottom: 5px solid var(--hourborderbgc);
  border-left: 5px solid var(--hourborderbgc);
  border-right: 2.5px solid var(--hourborderbgc);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  

  background-color: var(--hourbgc);
  color: white;
}
.saveBtn:hover {
  color: white;
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
  color: var(--icons);
}

.delBtn {
  border-top: 5px solid var(--hourborderbgc);
  border-bottom: 5px solid var(--hourborderbgc);
  border-right: 5px solid var(--hourborderbgc);
  border-left: 2.5px solid var(--hourborderbgc);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #5c5c5c;
  color: white;
}
.delBtn:hover {
  color: white;
}

.delBtn i:hover {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
  color: var(--icons);
}

@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}